.back-image{
	background-image: url('images/bg2.jpg');
	background-size: cover;
	background-position: center center;
	background-color: lightgrey;
	/*height: 600px;*/
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
	background-color: grey;
}

 .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

 .modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

 .modal {
	text-align: center;
	padding: 0!important;
}

@media (max-width: 768px) {
	nav.navbar{
		background: lightgray;
		position: relative;
		top: 1px;
	}

	#navbarSupportedContent{
		border-top: 1px solid black;
	}

	.bot-border{
		border-bottom: 1px solid lightgray;
	}
}
 
@media (max-width: 992px) {
	.bor{
		border-bottom: 1px solid lightgray;
	}
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }